
        nav ul li {
            list-style: none;
            margin-left: 75px;
            padding: 25px 0;
            float: left;
       
 
        }

        .enca{
            display: grid;
            column-gap:3px;
            row-gap: 3px;
            background-color: rgb(177, 197, 162);
        }

        .contenedor{
            display: grid;
            column-gap:3px;
            row-gap: 3px;
            background-color: rgb(177, 197, 162);
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;

            grid-template-areas:
            "header     header      header  "
            "izq        main        precio  "
            "izq        main        precio  "
            "izq        main        precio  "
            "izq        main        precio  "
            "footer     footer      footer  "
        }
        .item{
            text-align:center;
            border: black solid 1px;
        }
        .item1{
            grid-area: header;
            background-color: rgba(147, 203, 56, 0.254);
        }
        .item2{
             grid-area: izq; 
        }
        .item3{
            grid-area: main;
            background-color: rgb(12, 196, 210);
        }
        .item4{
            grid-area: footer;
            background-color: rgb(78, 213, 112);
            
        }
        .item5{
            grid-area: publi;
        }
        .item7{
            grid-area: precio;
            background-color: rgb(10, 179, 160);
          
        }
        img{
            height: 120px ;
            width: 120px;
            
            
        }
          
        .l1{
            display:  block;
            float: left;
            width: 100px;
        }

        .d1{
            margin-top: .5em;
            margin-bottom: .5em;
            margin-left: .5em;
            margin-right: .5em;
        }
    