.divF{
    display: grid;
    column-gap:3px;
    row-gap: 3px;
    background-color: rgb(177, 197, 162);
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;

    grid-template-areas:
    "header      header"
    "mapa       descri"
    "mapa       descri"
    "mapa       descri"
    "mapa       descri"
    "footer     footer  "
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;


}

iframe{
    max-height: 30vh;
    max-width: 30vh;
}

.basic {
    display: grid;
    column-gap:3px;
    row-gap: 3px;
    background-color: rgb(177, 197, 162);
    /* grid-template-rows: 4rem auto 40px; */
    grid-template-columns: 1fr 1fr 4fr ;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    border-style: solid;
    grid-template-areas:
        "header header header "
        "suc    nav    main   "
        "suc    nav    main   "
        "suc    nav    main   "
        "footer footer footer ";
}
.basic header {
    grid-area: header;
    
}
.basic nav {
    grid-area: nav;
}
.basic .main {
    grid-area: main;
}
.basic footer {
    grid-area: footer;
}
.basic .suc {
    grid-area: main;
    
}